{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off"
  }
}
